<!DOCTYPE html>
<html layout:decorator="layout">

<head th:inline="text">
    <title>[[#{cas.mfa.esupotp.pagetitle}]]</title>
</head>

<body id="cas">
<div layout:fragment="content">
    <div class="box fl-panel" id="login">
        <form method="post" id="fm1" class="fm-v clearfix">
        
            <p id="uid" hidden="true" th:utext="${uid}"></p>
            <p id="userHash" hidden="true" th:utext="${userHash}"></p>
            <p id="urlApi" hidden="true" th:utext="${urlApi}"></p>
            <p id="userInfos" hidden="true" th:utext="${userInfos}"></p>

            <div class="row fl-controls-left">
                <input type="hidden" name="_eventId" value="submit"/>
                <input hidden="true" class="btn-submit" name="submit" accesskey="l"
                       th:value="#{screen.welcome.button.register}" tabindex="4" type="submit"/>
            </div>
            <div class="row btn-row">
                <input type="hidden" name="execution" th:value="${flowExecutionKey}"/>
            </div>
        </form>
    </div>
</div>
</body>
</html>